body {
  margin: 0;
  font-family: "Playwrite GB S", cursive, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color:rgb(2, 1, 1);
}

*{
  box-sizing: border-box;
}